# Konfigurasi Server
PORT=3001

# Konfigurasi Database MariaDB
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=user_2411523026
DB_PASSWORD=your_mariadb_password
DB_NAME=db_2411523026

# Informasi Mahasiswa (Untuk endpoint /health dan /schema)
STUDENT_NAME=Larisa Alifia Handini
STUDENT_NIM=2411523026
